APP_BASE_URL=http://localhost:3000
FUNCTIONS_BASE_URL=http://localhost:5001/PROJECT_ID/us-central1
POSTMARK_INBOUND_WEBHOOK_SECRET=
POSTMARK_INBOUND_ALLOWED_RECIPIENTS=
POSTMARK_SERVER_TOKEN=
POSTMARK_FROM_EMAIL=
POSTMARK_MESSAGE_STREAM=outbound
